{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-12">
        <h2 class="mb-3" style='display: none;'>{% block title %}{{ 'documents.protocol' | trans() }}{% endblock %}</h2>
        <div class="mb-3">
            <a href="{{ path('main_documents') }}">&larr; назад к списку</a>
        </div>
        <p>
            Протокол внешнего управления программным комплексом, далее ПВУПК, <i>«НПО Андроидная техника:
            Панель управления роботом»</i> служит для организации связи со сторонним программным обеспечением.
            ПВУПК работает по схеме клиент-серверного приложения, где сторонние ПО выступает в роли клиента.
            ПВУПК может поддерживать одновременную работу нескольких клиентов.
        </p>
        <p>
            В качестве транспортного протокола используется протокол TCP. Все символы команд и ответов представлены в
            однобайтной символьной кодировке ASCII. Все численные значения, передаваемые и возвращенные, являются
            вещественными числами без мантиссы и передаются как последовательность символов в диапазоне от
            <strong>0x30</strong> до <strong>0x39</strong>, разделителем целой части является точка
            <strong>0x2E</strong>, если число имеет знак, то он ставится перед числом и определяется символом
            <strong>0x2D.</strong> Каждая команда должна заканчиваться символами – терминаторами <strong>0x0D</strong>
             и <strong>0x0A</strong>. Команды разделены на группы и подгруппы. Символом разделителем для подгрупп
            является символ двоеточия <strong>0x3A</strong>. Максимальная длинна команды, не ограничена, но
            рекомендуется не более размера MTU (с учетом терминатора строки и заголовка пакета TCP/IP). Все команды
            и идентификаторы не чувствительны к регистру.
        </p>
        <p>
            Группа команд <strong>ROBOT</strong> служит для управления роботом и включает в себя несколько подгрупп:
            <strong>MOTORS</strong>, <strong>SENSORS</strong>.
        </p>
        <p>
            Подгруппа команд <strong>ROBOT:MOTORS</strong> служит для управления приводами (степенями подвижности)
            робота и включает в себя несколько команд:
        </p>

        <p>
            Группа команд <strong>ROBOT</strong> служит для управления роботом и включает в себя несколько подгрупп:
            <strong>MOTORS</strong>, <strong>SENSORS</strong>.
        </p>
        <p>
            Подгруппа команд <strong>ROBOT:MOTORS</strong> служит для управления приводами (степенями подвижности)
            робота и включает в себя несколько команд:
        </p>
        <ul>
            <li>
                <strong>POSSET</strong> – переводит выбранные приводы в режим управления по положению и устанавливает
                требуемый угол;
            </li>
            <li>
                <strong>VELSET</strong>– переводит выбранные приводы в режим управления по скорости и устанавливает
                требуемую скорость;
            </li>
            <li>
                <strong>TORQSET</strong> – переводит выбранные приводы в режим управления по моменту(току) задает
                значение момента(тока) выбранным степеням подвижности;
            </li>
            <li>
                <strong>GO</strong> – выполняет перемещение выбранных приводов из текущего в требуемое положение за
                указанное время (не более 10 секунд). Интерполяция линейная. Для  нелинейной интерполяции
                промежуточных точек, вместо <strong>GO</strong> используйте команды: <strong>GOsin</strong>,
                <strong>GOcos</strong> или <strong>GOsigm</strong>; ВНИМАНИЕ! Команда не вернет ответ до ее завершения,
                 т.е. не раньше указанного времени. Это может привести к разрыву соединения по таймауту клиента.
            </li>
            <li>
                <strong>POSGET</strong> – возвращает текущее положение выбранных приводов, через разделитель
                <strong>0x3B</strong>;
            </li>
            <li>
                <strong>LIST</strong> – возвращает перечень всех узлов через разделитель <strong>0x3B</strong>;
            </li>
            <li>
                <strong>BREAK</strong> – отключает привод. Если на степени подвижности установлена тормозная муфта,
                то она «защёлкнется»;
            </li>
            <li>
                <strong>RELAX</strong> - отключает привод. Если на степени подвижности установлена тормозная муфта,
                то она «разщёлкнется».
            </li>
            <li>
                <strong>STATUS</strong> – возвращает режим управления, напряжение на входе, активный ток (Iq) и
                температуру, через разделитель <strong>0x3B</strong>;
            </li>
        </ul>

        <p>
            Подгруппа команд <strong>ROBOT: SENSORS</strong> служит для получения сенсорной информации от внутренних
            датчиков (инерциальная сборка, датчики сил и момента и т.д.):
        </p>
        <ul>
            <li>
                <strong>LIST</strong> – возвращает список сенсоров или список показаний сенсора.
            </li>
        </ul>
        <p>
            Успешно выполненная команда вернет последовательность значений разделенных символами <strong>0x3A</strong>
            и/или <strong>0x3B</strong>, где <strong>0x3B</strong> разделитель значений датчика, а
            <strong>0x3A</strong> разделитель датчиков.
        </p>
        <p>
            Команда <strong>VERSION</strong> возвращает версию программной оболочки и версию протокола внешнего
            управления.
        </p>

        <h4 class="mb-3 mt-3">Структурная схема команд внешнего управления</h4>

        <img src="{{ asset('images/protocol_schema.png') }}"  height="700px"/>

        <h4 class="mb-3 mt-3">Единицы измерения и идентификаторы</h4>
        <p>
            Все команды ПВУПК используют следующие единицы измерения: время – секунда; угол – градус;
            скорость – градус/сек; ток – ампер; температура – градус Цельсия; длинна – метр; сила – Ньютон;
            процент – вещественное чисто от 0 до 1.
        </p>
        <p>
            Идентификаторы можно разделить на три типа: идентификаторы степенней подвижности, идентификаторы
            сенсора и идентификаторы показаний сенсора. Они служат для унификации команд. Некоторые идентификаторы
            оперируют вращением или движением в 3-х мерной системе координат, согласно следующей схеме:
        </p>
        <img src="{{ asset('images/coordinates_schema.png') }}"  height="400px"/>

        <p class="mt-3">
            Символы «<strong>L</strong>»(Left) или «<strong>R</strong>»(Right), стоящие в начале идентификатора
            обозначают сторону расположения привода или датчика, а символы «<strong>S</strong>»(Side),
            «<strong>F</strong>»(Front), «<strong>R</strong>»(Rotate) стоящие в конце идентификатора обозначают
            направление движения степени подвижности.
        </p>

        <h4 class="mb-3">Таблица идентификаторов. Степени подвижности</h4>

        <table class="table mb-5">
            <tr>
                <th>Символьное обозначение</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td>R.ShoulderF или L.ShoulderF</td>
                <td>Движение плечевого сустава вперед</td>
            </tr>
            <tr>
                <td>R.ShoulderS или L.ShoulderS</td>
                <td>Движение плечевого сустава в сторону</td>
            </tr>
            <tr>
                <td>R.Elbow или L.Elbow</td>
                <td>Сгиб локтя</td>
            </tr>
            <tr>
                <td>R.ElbowR или L.ElbowR</td>
                <td>Вращение локтя</td>
            </tr>
            <tr>
                <td>R.WristF или L.WristF</td>
                <td>Движение кисти вперед</td>
            </tr>
            <tr>
                <td>R.WristS или L.WristS</td>
                <td>Движение кисти в сторону</td>
            </tr>
            <tr>
                <td>R.WristR или L.WristR</td>
                <td>Вращение кисти</td>
            </tr>
            <tr>
                <td>R.Clavicle или L.Clavicle</td>
                <td>Движение ключицы</td>
            </tr>
            <tr>
                <td>R.Finger.Thumb или L.Finger.Thumb</td>
                <td>Сгиб большого пальца</td>
            </tr>
            <tr>
                <td>R.Finger.ThumbS или L.Finger.ThumbS</td>
                <td>Вращение большого пальца в сторону</td>
            </tr>
            <tr>
                <td>R.Finger.Index или L.Finger.Index</td>
                <td>Сгиб указательного пальца</td>
            </tr>
            <tr>
                <td>R.Finger.Middle или L.Finger.Middle</td>
                <td>Сгиб среднего пальца</td>
            </tr>
            <tr>
                <td>R.Finger.Ring или L.Finger.Ring</td>
                <td>Сгиб безымянного пальца</td>
            </tr>
            <tr>
                <td>R.Finger.Little или L.Finger.Little</td>
                <td>Сгиб мизинца</td>
            </tr>
            <tr>
                <td>R.HipF или L.HipF</td>
                <td>Движение бедра вперед</td>
            </tr>
            <tr>
                <td>R.HipS или L.HipS</td>
                <td>Движение бедра в сторону</td>
            </tr>
            <tr>
                <td>R.HipR или L.HipR</td>
                <td>Вращение бедра</td>
            </tr>
            <tr>
                <td>R.Knee или L.Knee</td>
                <td>Сгиб колена</td>
            </tr>
            <tr>
                <td>R.AnkleF или L.AnkleF</td>
                <td>Движение голеностопа вперед</td>
            </tr>
            <tr>
                <td>R.AnkleS или L.AnkleS</td>
                <td>Движение голеностопа в сторону</td>
            </tr>
            <tr>
                <td>TorsoF</td>
                <td>Наклон торса</td>
            </tr>
            <tr>
                <td>TorsoS</td>
                <td>Движение торса в бок</td>
            </tr>
            <tr>
                <td>TorsoR</td>
                <td>Вращение торса</td>
            </tr>
            <tr>
                <td>Neck</td>
                <td>Наклон шеи</td>
            </tr>
            <tr>
                <td>HeadF</td>
                <td>Наклон головы</td>
            </tr>
            <tr>
                <td>HeadS</td>
                <td>Качание головы</td>
            </tr>
            <tr>
                <td>HeadR</td>
                <td>Вращение головы</td>
            </tr>
        </table>

        <h4 class="mb-3">Таблица идентификаторов. Датчики</h4>

        <table class="table mb-5">
            <tr>
                <th>Символьное обозначение</th>
                <th>Описание</th>
                <th>Значение [ед. изм.]</th>
            </tr>
            <tr>
                <td>R.FTS.Ankle или L.FTS.Ankle</td>
                <td>Силомоментный датчик в голеностопе</td>
                <td>
                    FX [Н]<br />
                    FY [Н]<br />
                    FZ [Н]<br />
                    TX [Н*м]<br />
                    TY [Н*м]<br />
                    TZ [Н*м]<br />
                </td>
            </tr>

            <tr>
                <td>IMU</td>
                <td>Инерциальный измерительный модуль</td>
                <td>
                    Yaw [Deg]<br />
                    Pitch [Deg]<br />
                    Roll [Deg]<br />
                    AccX [g]<br />
                    AccY [g]<br />
                    AccZ [g]<br />
                    GyroX [Deg/Sec]<br />
                    GyroY [Deg/Sec]<br />
                    GyroZ [Deg/Sec]<br />
                    MagX [G]<br />
                    MagY [G]<br />
                    MagZ [G]<br />
                    q1<br />
                    q2<br />
                    q3<br />
                    qw<br />
                </td>
            </tr>
        </table>

        <h4 class="mb-3">Коды ответа</h4>
        <p>
            Каждая запрошенная команда сопровождается кодом ответа, размером в байт. Если команда подразумевает
            возврат результата в виде значений или строки, то в случае ее успешного выполнения, сначала будет
            возвращен код ответа (<strong>0xF1</strong>), затем последует результат выполнения команды, который
            заканчивается  символами – терминаторами (<strong>0x0D</strong>) и (<strong>0x0A</strong>).
        </p>

        <table class="table mb-5">
            <tr>
                <th>Код</th>
                <th>Описание</th>
            </tr>
            <tr>
                <td><strong>0xFF</strong></td>
                <td>Неизвестная команда или синтаксическая ошибка</td>
            </tr>
            <tr>
                <td><strong>0xFE</strong></td>
                <td>Оборудование или устройство не доступно</td>
            </tr>
            <tr>
                <td><strong>0xFD</strong></td>
                <td>Неизвестный идентификатор или устройство с данным идентификатором отсутствует</td>
            </tr>
            <tr>
                <td><strong>0xFC</strong></td>
                <td>Не корректное значение входного параметра</td>
            </tr>
            <tr>
                <td><strong>0xF0</strong></td>
                <td>Команда выполнена</td>
            </tr>
            <tr>
                <td><strong>0xF1</strong></td>
                <td>Команда выполнена с возвратом результата</td>
            </tr>
            <tr>
                <td><strong>0xF2</strong></td>
                <td>Команда устарела, рекомендуется использовать обновленный вариант</td>
            </tr>
            <tr>
                <td><strong>0xF3</strong></td>
                <td>Оборудование или устройство не поддерживает команду</td>
            </tr>
            <tr>
                <td><strong>0xF4</strong></td>
                <td>Текущая версия программного комплекса не поддерживает команду</td>
            </tr>
        </table>

        <div class="mb-3">
            <a href="{{ path('main_documents') }}">&larr; назад к списку</a>
        </div>
    </div>
{% endblock %}
