{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-10">
        <h2 class="mb-3">{{ 'documents.scenarios' | trans() }}</h2>
        <div class="mb-3">
            <a href="{{ path('main_documents') }}">&larr; назад к списку</a>
        </div>
        <ul class="mb-5">
            <li>
                <a href="#scenario-1">Номинация «Тонкая моторика манипуляторов и захватов»</a>
            </li>
            <li>
                <a href="#scenario-2">Номинация «Тонкая моторика манипуляторов»</a>
            </li>
            <li>
                <a href="#scenario-3">Номинация «Действия на складе»</a>
            </li>
            <li>
                <a href="#scenario-4">Номинация «Полоса препятствий»</a>
            </li>
        </ul>

        <h4 class="mb-3" id="scenario-1">Номинация «Тонкая моторика манипуляторов и захватов»</h4>
        <div class="mb-5">
            <ul>
                <li>
                    Сценарий номинации «Тонкая моторика манипуляторов и захватов»
                    включает: состав 3D-моделей, исходное положение, последовательность зачетных
                    действий, конечное положение.
                </li>
                <li>
                    <strong>Состав 3D-моделей:</strong>
                    <ol>
                        <li>
                            полноразмерный антропоморфный робот в комплектации с захватами;
                        </li>
                        <li>
                            электроинструмент (гайковерт);
                        </li>
                        <li>
                            аккумуляторный блок к электроинструменту;
                        </li>
                        <li>
                            кабель для подключения аккумуляторного блока к электрической сети;
                        </li>
                        <li>
                            стол для выполнения манипуляций;
                        </li>
                        <li>
                            электрическая розетка сети 220 В (установлена в пределах досягаемости
                            манипуляторов).
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Исходное положение:</strong></br>
                    АРТП установлена перед столом на стойке,
                    манипуляторы расположены над столом у его края, на столе уложены
                    электроинструмент, аккумуляторный блок и кабель.
                </li>
                <li>
                    <strong>Последовательность зачетных действий:</strong>
                    <ol>
                        <li>
                            соединить кабель с аккумуляторным блоком;
                        </li>
                        <li>
                            вставить штепсельный разъем кабеля в электрическую розетку;
                        </li>
                        <li>
                            извлечь штепсельный разъем кабеля из электрической розетки;
                        </li>
                        <li>
                            отсоединить кабель от аккумуляторного блока;
                        </li>
                        <li>
                            присоединить аккумуляторный блок к электроинструменту;
                        </li>
                        <li>
                            электроинструмент взять в правый захват кратковременно включить и
                            выключить питание (опробовать инструмент);
                        </li>
                        <li>
                            положить электроинструмент на стол (без удара).
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Конечное положение:</strong></br>
                    АРТП перед столом на стойке, манипуляторы
                    расположены над столом у его края; на столе уложены электроинструмент с
                    присоединенным аккумуляторным блоком и кабель.
                </li>
                <li>
                    Каждое выполненное зачетное действие оценивается в 1 балл.
                </li>
                <li>
                    Фиксируется общее время выполнения зачетных действий 1-7.
                </li>
                <li>
                    Предельное время выполнения зачетных действий – 30 минут.
                </li>
            </ul>
            <img src="{{ asset('/images/scene_1.png') }}" height="450px;">
        </div>
        <h4 class="mb-3" id="scenario-2">Номинация «Тонкая моторика манипуляторов»</h4>
        <div class="mb-5">
            <ul>
                <li>
                    Сценарий номинации «Тонкая моторика манипуляторов» включает:
                    состав 3D-моделей, исходное положение, последовательность зачетных действий,
                    конечное положение.
                </li>
                <li>
                    <strong>Состав 3D-моделей:</strong>
                    <ol>
                        <li>
                            полноразмерный антропоморфный робот в комплектации с захватами;
                        </li>
                        <li>
                            электроинструмент (гайковерт) с присоединенными аккумулятором и
                            битой;
                        </li>
                        <li>
                            детали редуктора (корпус, крышка, входной вал с шестерней и рукояткой,
                            выходной вал с шестерней);
                        </li>
                        <li>
                            болты – 4 шт.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Исходное положение:</strong><br />
                    АРТП установлена перед столом, на столе
                    уложены по отдельности электроинструмент, детали редуктора, болты.
                </li>
                <li>
                    <strong>Последовательность зачетных действий:</strong><br />
                    <ol>
                        <li>
                            в корпус вставить входной вал с шестерней и рукояткой;
                        </li>
                        <li>
                            в корпус вставить выходной вал с шестерней (совместить зубья шестерен);
                        </li>
                        <li>
                            установить крышку редуктора на корпус;
                        </li>
                        <li>
                            вставить 4 болта в отверстия в крышке;
                        </li>
                        <li>
                            взять в правый захват электроинструмент и опробовать кратковременным
                            включением;
                        </li>
                        <li>
                            электроинструментом произвести затяжку четырех болтов;
                        </li>
                        <li>
                            положить электроинструмент на стол (без удара);
                        </li>
                        <li>
                            прокрутить редуктор за рукоятку входного вала (3 оборота).
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Конечное положение:</strong><br />
                    АРТП перед столом на стойке, манипуляторы
                    расположены над столом у его края; на столе лежит собранный редуктор и
                    электроинструмент.
                </li>
                <li>
                    Каждое выполненное зачетное действие оценивается в 1 балл.
                </li>
                <li>
                    Фиксируется общее время выполнения зачетных действий 1-8.
                </li>
                <li>
                    Предельное время выполнения зачетных действий – 30 минут.
                </li>
            </ul>
            <img src="{{ asset('/images/scene_2.png') }}" height="450px;">
        </div>

        <h4 class="mb-3" id="scenario-3">Номинация «Действия на складе»</h4>
        <div class="mb-5">
            <ul>
                <li>
                    Сценарий номинации «Действия на складе» включает: состав 3D-
                    моделей, исходное положение, последовательность зачетных действий, конечное
                    положение.
                </li>
                <li>
                    <strong>Состав 3D-моделей:</strong>
                    <ol>
                        <li>полноразмерный антропоморфный робот в комплектации с захватами;</li>
                        <li>тележка;</li>
                        <li>стеллажи;</li>
                        <li>
                            5 коробок весом до 10 кг каждая, имеющих цифровую маркировку на всех
                            плоскостях.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Исходное положение:</strong><br />
                    АРТП установлена между стеллажом и
                    тележкой, коробки уложены на тележку.
                </li>
                <li>
                    <strong>Последовательность зачетных действий:</strong>
                    <ol>
                        <li>
                            поочередно коробки снять с тележки и уложить на полки стеллажа (край
                            коробки должен располагаться у края полки стеллажа с погрешностью не более
                            5 см);
                        </li>
                        <li>
                            получить задание (с клавиатуры) с номерами двух коробок; коробки с
                            заданными номерами снять со стеллажа и уложить обратно на тележку;
                        </li>
                        <li>подойти к тележке со стороны рукоятки и взяться за нее двумя захватами;</li>
                        <li>
                            переместить тележку вперед на 10 м, толкая за рукоятку, остановиться.
                        </li>
                    </ol>
                </li>
                <li>
                    <strong>Конечное положение:</strong><br />
                    АРТП стоит на удалении 10 м от исходного
                    положения и держится захватами за рукоятку тележки.
                </li>
                <li>
                    Начисляется по 1 баллу за зачетные действия 1 (за каждую коробку),
                    2 (за каждую коробку), 3 и 4.
                </li>
                <li>
                    Фиксируется общее время выполнения зачетных действий 1-4.
                </li>
                <li>
                    Предельное время выполнения зачетных действий – 45 минут.
                </li>
            </ul>
            <img src="{{ asset('/images/scene_3.png') }}" height="450px;">
        </div>
        <h4 class="mb-3" id="scenario-4">Номинация «Полоса препятствий»</h4>
        <div class="mb-5">
            <ul>
                <li>
                    Сценарий номинации «Полоса препятствий» включает: состав 3D-
                    моделей, исходное положение, последовательность зачетных действий, конечное
                    положение.
                </li>
                <li>
                    <strong>Состав 3D-моделей:</strong>
                    <ol>
                        <li>полноразмерный антропоморфный робот с манипуляторами без захватов;</li>
                        <li>полоса препятствий.</li>
                    </ol>
                </li>
                <li>
                    <strong>Исходное положение:</strong><br />
                    АРТП установлена перед дверью («лицом» к
                    двери), за которой устроена полоса препятствий.
                </li>
                <li>
                    <strong>Последовательность зачетных действий:</strong>
                    <ol>
                        <li>открыть дверь внутрь и пройти дверной проем;</li>
                        <li>пройти по коридору зигзаг (прямо, направо, прямо, налево, прямо);</li>
                        <li>встать на четвереньки перед лазом;</li>
                        <li>пройти на четвереньках лаз размером 1 м на 1 м;</li>
                        <li>встать, пойти прямо;</li>
                        <li>пройти по коридору поворот на 90 градусов (прямо, налево, прямо);</li>
                        <li>лечь на пол перед тоннелем;</li>
                        <li>проползти тоннель сечением шириной 1 м, высотой 0,5 м, длиной 5 м;</li>
                        <li>встать, пойти прямо;</li>
                        <li>открыть дверь наружу и пройти дверной проем, остановиться.</li>
                    </ol>
                </li>
                <li>
                    <strong>Конечное положение:</strong> <br />
                    АРТП стоит за дверью («спиной» к двери).
                </li>
                <li>
                    Начисляется по 1 баллу за зачетные действия 1-3, 5-7, 9 и 10.<br />
                    Начисляется по 5 баллов за зачетные действия 4 и 8.
                </li>
                <li>
                    Фиксируется общее время выполнения зачетных действий 1-10.
                </li>
                <li>
                    Предельное время выполнения зачетных действий – 45 минут.
                </li>
            </ul>

            <img src="{{ asset('/images/scene_4.png') }}" height="450px;">
        </div>
        <div class="mb-3">
            <a href="{{ path('main_documents') }}">&larr; назад к списку</a>
        </div>
    </div>
{% endblock %}
