{% macro inputs(experiment, indicators) %}
    <input type="hidden" class="form-control indicator-id" value="" name="indicator[id]">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Name' | trans() }}</label>
        <div class="col-sm-12">
            <select class="form-control select2-modal indicator-name" name="indicator[name]" required>
                <option value="">{{ 'Select indicator' | trans() }}</option>
                {% for indicator in indicators %}
                    <option value="{{ indicator.id }}"
                            {% if experiment.indicator.id is defined and experiment.indicator.id == indicator.id %}
                                {{ "selected" }}
                            {% endif %}>{{ indicator.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{ 'Value' | trans() }}</label>
        <div class="col-sm-3">
            <input type="text" pattern="\d+(\.\d{0,10})?" class="form-control indicator-value" value="" name="indicator[value]" required>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.edit-indicator').bind('click', function () {
                var editIndicatorForm = $('#editIndicatorForm');
                editIndicatorForm.attr('action', $(this).data('href'));
                editIndicatorForm.find('.indicator-id').val($(this).data('id'));
                editIndicatorForm.find('.indicator-name').val($(this).data('name'));
                editIndicatorForm.find('.indicator-value').val($(this).data('value'));

                $('.select2-modal').select2({ width: '100%' });
            });

            $('.select2-modal').select2({ width: '100%' });
        });
    </script>
{% endmacro %}