{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="col-12">
        <h2 class="mb-3" style='display: none;'>{% block title %}{{ 'main.downloads' | trans() }}{% endblock %}</h2>

        <h4 class="mb-3">{{ 'at.3dlk' | trans() }}</h4>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Версия</th>
                <th>Дата выхода</th>
                <th>Изменения</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1.0.5</th>
                <td>13.06.2018</td>
                <td>
                    <ul>
                        <li>На отладочной сцене вернулась возможность "подвешивания" робота</li>
                        <li>На отладочной сцене вернулась возможность установки оператором наклона пола</li>
                        <li>Робот не "дрожит" на бозовой и отладочных сценах</li>
                        <li>Динамические объекты заявленные в документации активны (кроме кофемашины) и предметов внутри шкафов.</li>
                    </ul>
                </td>
                <td><a href="/downloads/3dlk_1.0.5.exe">3dlk_1.0.5.exe</a></td>
            </tr>
            <tr>
                <th scope="row">1.0.4</th>
                <td>16.05.2018</td>
                <td>
                    <ul>
                        <li>Детальная переработка всех предметов</li>
                        <li>Оптимизирована графика и физика</li>
                        <li>Поддержка коллизий окружения (горы, дорога и т.д.)</li>
                        <li>Картинка с камер робота в RGB (была в BGR)</li>
                        <li>Изменен алгоритм авторизации</li>
                        <li>Изменения в пользовательском интерфейсе главного меню</li>
                        <li>В доме появилась лестница</li>
                        <li>Изменения в конфиг файле (координаты локаций, настройки авто выхода при не активности, настройки физики в этой версии заблокированы)</li>
                    </ul>
                </td>
                <td><a href="/downloads/3dlk_1.0.4.exe">3dlk_1.0.4.exe</a></td>
            </tr>
            <tr>
                <th scope="row">1.0.3</th>
                <td>16.03.2018</td>
                <td>
                    <ul>
                        <li>Обновлен физический движок ODE до версии 0.15.2</li>
                        <li>Исправлена ошибка, из-за которой камера "улетала" при резких движениях курсора;</li>
                        <li>Парсер вещественных чисел не зависит от региональных настроек (можно точку, можно запятую), дробная часть исходящих вещественных чисел будет всегда точка;</li>
                        <li>Во время проверки активации добавлены передаваемые серверу данные (Имя компьютера, версия ОС, видеокарта). Эти данные будут сохраняться в БД и отображаться в списке активаций в ЛК. Теперь пользователь может удалять не нужные активации;</li>
                        <li>Небольшие изменения в производительности и качестве графики, связанные со сборкой проекта в новой версии среде разработки;</li>
                        <li>Добавлена возможность "подвешивания" робота на отладочной сцене. В правом нижнем углу отладочной сцены появился чекбокс, отвечающий за фиксирования робота в пространстве (фиксация таза);</li>
                        <li>Добавлена возможность установки оператором наклона пола на отладочной сцене. На экране появились два трекбара, которые наклоняют пол относительно центра;</li>
                        <li>Добавлена возможность взаимодействия с объектами в дополнительном окружении (Гостиная).</li>
                    </ul>
                </td>
                <td><a href="/downloads/3dlk_1.0.3.exe">3dlk_1.0.3.exe</a></td>
            </tr>
            <tr>
                <th scope="row">1.0.2</th>
                <td>05.03.2018</td>
                <td>
                    <ul>
                        <li>Добавлена отладочная сцена</li>
                    </ul>
                </td>
                <td><a href="/downloads/3dlk_1.0.2.exe">3dlk_1.0.2.exe</a></td>
            </tr>
            </tbody>
        </table>

        <h4 class="mb-3">{{ 'downloads.protocol.examples' | trans() }}</h4>
        <table class="table mb-5">
            <thead class="thead-default">
            <tr>
                <th>Версия</th>
                <th>Дата выхода</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1.2</th>
                <td>28.07.2017</td>
                <td><a href="/downloads/ExampleRobotMotion_1.2.rar">ExampleRobotMotion_1.2.rar</a></td>
            </tr>
            </tbody>
        </table>

        <h4 class="mb-3">{{ 'downloads.sensors.examples' | trans() }}</h4>
        <table class="table mb-5">
            <thead class="thead-default">
            <tr>
                <th>Версия</th>
                <th>Дата выхода</th>
                <th>Скачать</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1.0</th>
                <td>29.06.2017</td>
                <td><a href="/downloads/ExampleSensor_1.0.rar">ExampleSensor_1.0.rar</a></td>
            </tr>
            </tbody>
        </table>

        {#<h4 class="mb-3">{{ 'downloads.3d.model' | trans() }}</h4>#}
        {#<table class="table mb-5">#}
            {#<thead class="thead-default">#}
            {#<tr>#}
                {#<th>Версия</th>#}
                {#<th>Дата выхода</th>#}
                {#<th>Скачать</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#<tr>#}
                {#<th scope="row">1.0</th>#}
                {#<td>01.06.2017</td>#}
                {#<td><a href="/downloads/model.max">model.max</a></td>#}
            {#</tr>#}
            {#</tbody>#}
        {#</table>#}
    </div>
{% endblock %}
